<section ng-controller="RecipesController as recipesCtrl">
  <!-- Exercise 4 -->
  <!-- <article ng-repeat="recipe in recipeCtrl.recipes">
    <h1 ng-click="selectRecipe">How to make {{recipe.name}}:</h1>
    <p>Cook Time: {{recipe.cookTime}} minutes</p>
    <p>Prep Time: {{recipe.prepTime}} minutes</p>
    <ul>
      <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
    </ul>
    <p>{{recipe.directions}}</p>
    <p ng-if="recipe.isVegan">Vegan</p>
    <p ng-if="recipe.isGlutenFree">Gluten Free</p>
    <p ng-if="recipe.isPaleo">Paleo</p>
  </article> -->

  <!-- Exercise 5 -->
  <div ng-controller="RecipesController as recipesCtrl"
</section>